<section class="hero">
    <div class="content">
        <h1>
            {{ t('HOME_SECTION.GREETING') }}
            <span class="highlight">Franz Burneo</span>
        </h1>
        <h2>{{ t('HOME_SECTION.ROLE') }}</h2>

        <p>
            {{ t('HOME_SECTION.DESCRIPTION') }}
        </p>

        <div class="buttons">
            <a [href]="cvUrl" download class="btn primary">
                {{ t('HOME_SECTION.DOWNLOAD_CV') }}
            </a>
            <a [routerLink]="['/projects']" class="btn secondary">
                {{ t('HOME_SECTION.VIEW_PROJECTS') }}
            </a>
        </div>

        <div class="social-links">
            <a href="https://github.com/FranzBurneo" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/franz-burneo-monteros-7422a7187/" target="_blank">LinkedIn</a>
        </div>
    </div>
</section>